---
title: "Periodic Table of Elements"
author: "Gustavo J. V. Meira Filho"
format:
    html:
        code-fold: true
        code-summary: "Show Code"
        toc: true
        toc-depth: 3
    pdf:
        documentclass: scrreprt
        pdf-engine: xelatex
        toc: true
        toc-depth: 3
        include-in-header: 
            text: |
                \usepackage[a4paper,margin=2.5cm]{geometry}
        execute:
            echo: true     
            warning: false   
            message: false 
execute:
    fig-format: png       
jupyter: AIChE-Internal-Challenges
---

\newpage
# **Objetivo**

> Introduzir Python, manipulação de dados e visualização.

* <span style="color: #3d9be7ff"><strong>Conceitos de programação:</strong></span> 
  * Tipos básicos (`int`, `float`, `str`, `list`, `dict`)
  * Loops
  * Funções simples.
* <span style="color: #3d9be7ff"><strong>Bibliotecas:</strong></span>  
  * `pandas` (dados tabulares) 
  * `plotly` (visualização gráfica - pode substituir pelo `matplotlib`).
* <span style="color: #3d9be7ff"><strong>Aplicações:</strong></span> 

  * Importar uma base de dados da tabela periódica (existe em CSV no Kaggle).
  * Explorar propriedades como massa atômica, eletronegatividade, número atômico.
  * Criar gráficos (ex.: massa atômica vs número atômico; cores por família).

In [5]:
# Nativas Python
import sys
import os

# Dados Tabulares
import pandas as pd

# Visualização
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
from graphmodex import plotlymodex

In [3]:
# Imagem png ou interativa (notebook)
pio.renderers.default = 'notebook'

\newpage

# Extração

Precisamos extrair a base de dados para conseguir trabalhar em cima dela! Para conseguirmos visualizar e manipular os dados, armazenamos ela como um objeto `pandas` que já possui tratamentos internos para vatorização e é a biblioteca coringa para todas as libs de visualização.

* [Começando na Biblioteca](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html)
* [Guia do Usuário](https://pandas.pydata.org/docs/user_guide/index.html)
* [Documentação](https://pandas.pydata.org/docs/reference/index.html)

Note que a tabela periódica é um `.csv` na pasta `data`. Vamos armazenar esses dados em uma DataFrame chamada `df`

In [ ]:
df = pd.read_csv(r'..\data\elementdatavalues.csv')

# Mostrar as 10 primeiras linhas das 4 primeiras colunas
df[['Name', 'Symbol', 'Atomic_Number', 'Atomic_Weight']].head(10)

        Name Symbol  Atomic_Number  Atomic_Weight
0   Hydrogen      H              1       1.007940
1     Helium     He              2       4.002602
2    Lithium     Li              3       6.941000
3  Beryllium     Be              4       9.012182
4      Boron      B              5      10.811000
5     Carbon      C              6      12.010700
6   Nitrogen      N              7      14.006700
7     Oxygen      O              8      15.999400
8   Fluorine      F              9      18.998403
9       Neon     Ne             10      20.179700

In [18]:
# Informações sobre quantidade de inforação e tipo
df[[
    'Name', 'Symbol', 'Atomic_Number', 'Atomic_Weight', 
    'Density', 'Melting_Point', 'Critical_Temperature'
]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  118 non-null    object
 1   Symbol                118 non-null    object
 2   Atomic_Number         118 non-null    int64
 3   Atomic_Weight         117 non-null    float64
 4   Density               95 non-null     float64
 5   Melting_Point         101 non-null    float64
 6   Critical_Temperature  21 non-null     float64
dtypes: float64(4), int64(1), object(2)
memory usage: 6.6+ KB

In [20]:
# Principais estatísticas das colunas da tabela
df[['Atomic_Weight', 'Density', 'Melting_Point', 'Critical_Temperature']].describe()

       Atomic_Weight       Density  Melting_Point  Critical_Temperature
count     117.000000     95.000000     101.000000             21.000000
mean      144.876991   7645.567604    1296.574455            963.735238
std        88.495972   5957.801744     883.225454           1000.908102
min         1.007940      0.089900      14.010000              5.190000
25%        65.409000   2545.000000     544.450000            150.870000
50%       140.907650   7140.000000    1204.150000            416.900000
75%       226.000000  10385.000000    1811.150000           1766.000000
max       294.000000  22650.000000    3823.150000           3223.000000